@import './mixins.scss';

.modal {
  border: none;
  --bs-modal-header-border-width: 0;
  --bs-modal-footer-border-width: 0;
  --bs-modal-width: 800px;
  --bs-modal-border-radius: none;
  --bs-modal-margin: 1.5rem;
  --bs-modal-header-padding: 0;
  @include medium {
    --bs-modal-width: 500px;
    --bs-modal-border-radius: 20px;
  }

  @include small {
    --bs-modal-width: 450px;
  }

  @include extra-small {
    --bs-modal-width: 1350px;
    width: 100%;
    margin-top: 100px;
    --bs-modal-margin: auto;
  }

  &-error {
    color: #da1616;
    text-transform: uppercase;
    font-size: 10px;
    margin-right: 20px;
    opacity: 0;
  }

  &-logo {
    margin-right: 10px;
  }

  &-dialog {
    max-height: 690px;
    padding: 20px 0;
    @include extra-small {
      width: 340px;
    }
  }

  &-close {
    margin: 10px;
  }

  &-close-box {
    text-align: right;
    cursor: pointer;
  }

  &-title {
    margin-top: -10px;
    font-size: 34px;
    line-height: 115%;
    max-width: 316px;
    margin: 0 auto;
    @include medium {
      font-size: 18px;
    }
  }

  &-subtitle {
    font-size: 14px;
    line-height: 150%;
    @include medium {
      font-size: 12px;
    }
  }

  &-content {
    border: none;
    border-right: 2px solid transparente;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px;
    @include medium {
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;
    }

    @include extra-small {
      width: 550px;
    }
  }

  &-image {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    @include medium {
      display: none;
    }
  }

  &-backdrop {
    width: 100%;
    height: 100%;
  }

  &-footer {
    padding: 0;
  }

  &-term {
    flex: 1 1 80%;
    margin-top: 35px;
    @include medium {
      margin-top: 0;
      margin-bottom: 5px;
    }

    @include small {
      font-size: 12px;
      margin-left: 3px;
    }
  }  
}
